DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USERNAME=user
DATABASE_PASSWORD=rootpassword
DATABASE_NAME=finnHubApp
JWT_SECRET='my_jwt_secret'
PORT=3000
FINNHUB_API_KEY=your_finnhub_api_key
FIREBASE_PROJECT_ID=sample-project-id
FIREBASE_CLIENT_EMAIL=sample@email.com
FIREBASE_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----